<footer class="hipp">
    <div class="upper-footer">
        <ul>
            <b>Địa chỉ:</b>
            <li> CS1: Nghi Xuân - Hà Tĩnh</li>
            <li>CS2: Tây Sơn - Bình Định</li>
            <li>CS3: Quận 12- Thành phố Hồ Chí Minh</li>
        </ul>
    </div>
    <div class="upper-footer">
        <b>Hotline</b> : 65652326565
    </div>
    <div class="upper-footer">
        <ul>
            <b>Chủ sở hữu</b> :
            <li>Nguyễn Thị Trà My</li>
            <li>Nguyễn Thị Như Phượng</li>
            <li>Nguyễn Anh Tuấn</li>
        </ul>
    </div>

</footer>