<header>
    <div class="logo">
        <a href=" ">JEWELRY</a>
    </div>
    <div class="menu">
        <ul>
            <li><a href="">NHẪN</a></li>
            <li><a href="">VÒNG TAY</a></li>
            <li><a href="">DÂY CHUYỀN</a></li>
            <li><a href="">BÔNG TAI</a></li>
        </ul>
    </div>
    <div class="others">
        <ul>
            <li><input type="text" placeholder="Search">
                <i class="fas fa-search"></i>
            </li>
            <li><a href="" class="fas fa-user-edit"></a></li>
            <li><a href="" class="fas fa-shopping-cart"></a></li>
        </ul>
    </div>
</header>